<div class="row justify-content-center">
  <div class="text-center text-dark bg-white w-auto m-3">
    <h2>Browse the Trash!</h2>
  </div>
</div>

<div class="row justify-content-center" id="show-cards">
  <div class="show-card" style="width: 30rem;">
    {{#each shows as |show| }}
    <img src="/images/{{ filename }}" class="card-img-top" alt="Show Image">
    <div class="">
      <h5 class="card-title">{{show.title}} <button id="add-btn" data-id="{{show.id}}">+</button>
        <p id="clickme">Add show to My Trash!</p>
      </h5>
      <p class="card-text">{{show.description}}</p>
      <ul class="list-group list-group-flush">
        {{#each show.Comments as |comment| }}
        <li class="list-group-item">{{comment_text}}<p>-{{user.name}}</p>
          <p>{{format_date date_created}}</p>
        </li>
        {{/each}}
        <form class="form-new-comment">
          <div class="form-group">
            <input type=hidden id="show-id" value="{{show.id}}">
            <textarea class="form-input" id="comment-desc" name="comment-desc"
              placeholder="Write a comment!"></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">submit</button>
          </div>
        </form>
      </ul>
      {{/each}}
    </div>
  </div>
</div>

<script src="./js/feed.js"></script>
<script type="text/javascript" src="./js/comments.js"></script>