<div class="row">
  <div class="text-center text-dark">
    <h2>Let's get Trashy, {{name}}!</h2>
  </div>
</div>

<div class="card show-card" style="width: 22rem;">
  {{#each shows as |show| }}
  <img src="/images/{{ filename }}" class="card-img-top" alt="Show Image">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{description}}</p>
    <ul class="list-group list-group-flush">
    {{#each show.Comments as |comment| }}
    <li class="list-group-item">{{comment_text}}<br></li>
    {{/each}}
  </ul>
  {{/each}}
  </div>
  
</div>