<div class="card" style="width: 18rem;">
  <img src="/images/{{ filename }}" class="card-img-top" alt="Show Image">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    {{#each Comments as |comment| }}
    <li class="list-group-item">{{comment_text}}</li>
    {{/each}}
  </ul>
</div>
  <form class="form-new-comment">
    <div class="form-group">
        <input type= hidden value={{user.name}} id="user-name">{{user.name}}</input>
        <textarea class="form-input" id="comment-desc" name="comment-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">submit</button>
      </div>
      
  </form>


<script type="text/javascript" src="./js/comments.js"></script>

